footer{
  padding: 10px 30px;
  background-color: #002868;
  color: white;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 3px solid white;
}

span{
  color: #bf0a30;
}
