<main>
  <div class="main-header">
    <h1><span class="american">American</span><br> Breweries</h1>
    <img src="../../../assets/flag.jpg" alt="USA Flag">
  </div>
  <div class="box">
    <div class="content">
      <span class="welcome-text">
        Welcome to our electrifying website, a hub dedicated to the vibrant world of American breweries!<br>
        Prepare yourself for an exhilarating journey through the heart and soul of the United States' beer scene.<br>
        Explore the official pages of each brewery!
      </span>
    </div>
    <div class="visit-site">
      <span class="text-btn">
        Go to the breweries page!
      </span>
      <button>Click here</button>
    </div>
  </div>
</main>
